html{
    font-size: 16px;
}

body{
    font-family: 'Lato', sans-serif;
}

body h1{
    font-family: 'Goudy Bookletter 1911', serif;
}



/* navigation  */
.nav-bar{
    border-bottom: 1px solid #DFDFDF;
    padding: 0.5rem 1.3rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.logo{
    width: 50%;
}
#slack-logo{
    width: 60%;
}
.menus{
    display: none;
}
.icon{
    width: 50%;
}
#icon{
    width: 15%;
    padding-top: 0.7rem;
    float: right;
}




/* fullmenu */
.full-menu{
    background-color: #29339B;
    color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
}
.top-bar{
    display: flex;
    max-width: 100%;
    border-bottom: 1px solid #AFAFAF;
    padding: 1.2rem 1.7rem;
}
#white-logo{
    width: 50%;
}
#close-icon{
    width: 50%;
}
#close-icon img{
    float: right;
}
.nav-items{
    padding: 1.2rem 1.7rem;
}
.nav-items h2{
    font-size: 1.4rem;
    line-height: 2.2;
}
.workspaces{
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: bolder;
}
.download-slack{
    color: #29339B;
    background-color: #fff;
    font-weight: bolder;
    font-size: 1.3rem;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
}
.download-slack img{
    margin-right: 1.5rem;
}

.fix-to-end{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.full-menu{
    display: none;
}


/* section 1 */
header{
    padding: 2.5rem 1.9em 0rem 1.9rem;
    max-width: 100%;
}

header h1{
    font-size: 2.6rem;
    font-weight: bolder;
    line-height: 1;
    color: rgb(8, 41, 53);
    text-align: left;
}

header h3, p {
    padding-top: 1.3rem;
    padding-bottom: 2rem;
    line-height: 1.5;
    color: #67777C;
    font-size: 1.1rem;
}

#get-started{
    background-color: #293EAF;
    border: none;
    text-align: center;
    color: #fff;
    font-size: 85%;
    padding: 1.2rem;
    width: 100%;
    border-radius: 5px;
}
.get-slack p{
    display: none;
}

#home-image{
    padding-top: 2.5rem;
    max-width: 100%;
}



/* section 2 */
.section-2{
    background-color: #f5f5f5; 
    text-align: center;
    padding: 2.7rem 1.9em;
}

.section-2 h2{
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 1.6rem;
    font-weight: bolder;
}

.section-2 p{
    padding: 0.9rem 0 1.5rem 0;
    font-size: 1rem;
}

#discover-why{
    width: 100%;
    background-color: #fff;
    color : #293EAF;
    border: 0.5px solid #293EAF;
    font-size: 85%;
    padding: 1.2rem;
    border-radius: 5px;
}

.brand-logos{
    padding-top: 2rem;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.airbnb, .capital-one{
    max-width: 50%;
    height: auto;
}

.harvard {
    max-width: 55%;
    height: auto;
}

.la-times{
    max-width: 85%;
    height: auto;
}

.oracle{
    max-width: 60%;
    height: auto;
}

.ticket-master{
    max-width: 60%;
    height: auto;
    border-bottom: none;
}

.brand{
    padding: 2.3rem;
    border-bottom: 0.5px solid #DFDFDF;
}

#ticket-master{
    border-bottom: none;
}



/* section 3 */
.section-3{
    display: flex;
    padding: 3rem 1.9em;;
    flex-wrap: wrap;
    text-align: center;
    max-width: 100%;
    justify-content: center;
    border-bottom: 1px solid #DFDFDF;
}
.text{
    width: 100%;
}
.text h3{
    font-weight: bolder;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 1.2rem;
    line-height: 0.5;
}
.text p{
    font-size: 1rem;
    line-height: 0.5;
}
.the-button{
    text-align: right;
    max-width: 100%;
}
.the-button #get-started{
    width: 100%;
}



/* section 4 */
.sectionfour{
    display: flex;
    padding: 0.5rem 1.9rem;
    flex-wrap: wrap;
}
.logo-alone img{
    width: 70%;
    margin-left: -1.8rem;
}
.section-4{
    /* padding: 0.5rem 1.9rem; add this padding to everything */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.extras{
    width: 50%;
    padding-bottom: 1.5rem;
}
.extras p{
    padding: 0rem;
    line-height: 2.5;
    max-width: 100%;
    font-size: 1rem;
    color: #556266;
}

.extras h3{
    font-weight: bolder;
    color: #556266;
    line-height: 2.5;
}


/* footer */
footer{
    background-color: #f5f5f5; 
    text-align: center;
    padding: 2.2rem 1.7em 1rem 1.7rem;
}
.footer-menu{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    justify-content: space-around;
}
.footer-menu p{
    padding: 0;
    font-size: 1rem;
}
.fa {
    padding: 1rem;
    font-size: 20rem;
    text-align: center;
    text-decoration: none;
    max-width: 100%;
  }
.fa-facebook, .fa-twitter, .fa-youtube {
    color: #707070;
  }

.country{
    padding: 1rem 0rem;
}
#country{
    background-color: #f5f5f5;   
    border: none;
}
option{
    border: none;
}



/* Media queries */

/* For Tablets */
@media screen and (min-width:768px) and (max-width:1279px) {
    .nav-bar{
        padding: 1rem 2rem;
    }
    #slack-logo{
        width: 50%;
    }
    .menus{
        display: none;
    }
    .icon{
        width: 50%;
    }
    #icon{
        width: 12%;
        float: right;
        padding-top: 1.2rem;
    }
    
    /* header */
    header h1{
        font-size: 4.3rem;
    }

    header h3{
        font-size: 1.3rem;
    }

    #get-started{
        width: 30%;
    }
    .get-slack p{
        display: none;
    }

    #home-image{
        display: block;
        margin: 0 auto;
        padding-top: 2.5rem;
        max-width: 50%;
    }

    /* section 2 */
    .section-2 h2{
        font-size: 2.2rem;
    }
    .section-2 p{
        font-size: 1.1rem;
    }
    #discover-why{
        width: 30%;
    }
    .brand{
        width:50%;
    }
    #oracle{
        border-bottom: none;
    }
    #airbnb, #harvard, #oracle{
        border-right: 0.5px solid #DFDFDF;
    }

    /* section 3 */
    .section-3{
        flex-wrap: nowrap;
        padding-bottom: 1.2rem;
    }
    .text{
        text-align: left;
        width: 50%;
    }
    .text h3{
        font-size: 1.6rem;
    }
    .the-button{
        width: 50%;
    }
    .the-button #get-started{
        width: 65%;
    }

    /* section-4 */
    .sectionfour{
        flex-wrap: nowrap;
        padding: 1.7rem 1.7rem 1.7rem 0;
    }
    .logo-alone{
        width: 20%;
        margin-left: 3rem;
    }
    .logo-alone img{
        padding-right: 1.4rem;
    }
    .section-4{
        justify-content: space-between;
        width: 80%;
        padding: 0;
    }
    .extras{
        width: 20%;
    }
    .extras p{
        font-size: 0.9rem;
        color: #C7CDCF;
    }
    

    /* footer */
    footer{
        padding: 3rem 3rem;
    }
    .footer-menu{
        justify-content: flex-start;
        padding-bottom: 1rem;
    }
    .footer-menu p{
        padding-left: 1rem;
    }
    .country-sm{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        font-size: 1.5rem;
    }
}



/* For Desktop */
@media screen and (min-width: 1280px){
    .full-menu{
        display: none !important;
    }
    .nav-bar{
        padding: 0rem 2.2rem;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    #slack-logo{
        width: 35%;
    }
    .logo{
        width: 30%;
    }
    .menus{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .menu-item{
        padding: 1.3rem 1rem 1.3rem 1rem;
        font-size: 1.3rem;
        color: #556266;
    }
    .icon{
        display: none !important;
    }

    header{
        display: flex;
        flex-direction: row-reverse;
        padding: 6rem 3rem;
    }
    .header-text{
        width: 50%;
    }
    .header-image{
        width:50%;
    }
    header h1{
        font-size: 5.5rem;
    }
    header h3{
        font-size: 1.5rem;
        padding-bottom: 2rem;
    }
    .get-slack{
        max-width: 100%;
    }
    #get-started{
        width: 35%;
        text-align: none;
        font-weight: bold;
    }
    .get-slack p{
        display: block;
    }        
    #home-image{
        width: 80%;
        padding-top: 0; 
    }

    /* section 2 */
    .section-2{
        padding: 2.7rem 3rem 3rem 3rem;
    }
    .section-2 h2{
        font-size: 2.7rem;
    }
    .section-2 p{
        font-size: 1.2rem;
        padding-bottom: 2rem;
    }
    #discover-why{
        width: 15%;
        font-size: 1rem;
        font-weight: bold;
    }
    .brand{
        width:33.3%;
    }
    #ticket-master, #la-times, #oracle{
        border-bottom: none;
    }
    #capital-one, #oracle{
        border-right: 0.5px solid #DFDFDF;
        border-left: 0.5px solid #DFDFDF;
    }

    /* section 3 */
    .section-3{
        padding: 3rem 3rem;
    }
    .text{
        text-align: left;
        width: 70%;
    }
    .text h3{
        font-size: 2rem;
    }
    .text p{
        font-size: 1.3rem;
        padding-bottom: 0;
    }
    .the-button{
        text-align: right;
        width: 30%;
    }
    .the-button #get-started{
        width: 65%;
        padding: 1.5rem 2.2rem;
    }


    /* section 4 */
    .sectionfour{
        flex-wrap: nowrap;
        padding: 3rem 3rem;
    }
    .logo-alone{
        width: 30%;
        margin-top: -1.5rem;
    }
    .logo-alone img{
        padding-right: 2.5rem;
        width: 40%;
    }
    .section-4{
        justify-content: space-between 3rem;
        width: 70%;
        padding-right: 2.5rem;
    }
    .extras{
        width: 25%;
    }
    .extras p{
        font-size: 1rem;
    }


    /* footer */
    .footer-menu{
        justify-content: center;
        padding-bottom: 1rem;
    }
    .footer-menu p{
        padding-left: 1rem;
    }
    .country-sm{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        font-size: 1.5rem;
    }
}